.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:10px;
    max-width: 1000px;
    margin: 0 auto;
}
.card{
    width: calc(100% / 5 - 20px);
    border: 2px solid darkblue;
    padding: 4px;
    box-shadow: 3px 3px black;
    box-sizing: border-box;
    box-sizing: border-box;
    
}
img{
    width: 100%;
}
.card-header{
    text-align: center;
    font-weight: bold;   
}
.card-body{
    text-align: justify;
    display: flex;
    flex-direction: column;
}


/* mediaqueri */
/* para tablets */
/* Para tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap; /* Permite que las tarjetas bajen de línea */
        justify-content: center; /* Centra las tarjetas */
        align-items: flex-start; /* Asegura que crezcan hacia abajo */
    }

    .card {
        width: calc(100% / 3 - 20px); /* 3 tarjetas por fila */
    }

    .elemento1 {
        background-color: aquamarine;
        /* Desaparecer elemento */
        display: none;
    }
}

/* Para celulares */
@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* 1 tarjeta por fila */
    }

    footer {
        color: blue; /* Color estándar de enlace */
        text-decoration: underline; /* Subrayado como un enlace tradicional */
        font-weight: bold;
    }

    footer:hover {
        color: darkblue; /* Cambia de color cuando se pasa el cursor */
    }
}
